login-user {
  .logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;

    img {
      max-width: 150px;
    }
  }

  ion-title {
      padding-left: 28%;
  }

  .list {
    margin-bottom: 0;
  }
  
  .scroll-content {
    background: #e0e0e0;
  }
}