<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle start>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title text-uppercase>My Address</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="form-content" text-center>
  <ion-title text-uppercase>{{title}}</ion-title>
  <br>
  <div class="Loginpage">
    <div class="formContainer">
      <form #addressForm="ngForm" novalidate>
           <ion-list class="app-form" no-margin>
            <div no-lines radio-group [(ngModel)]="type" name="type">
              <ion-item no-lines>
              <ion-label text-uppercase>home</ion-label>
               <ion-radio value="Home"></ion-radio>
            </ion-item>
           <!--  <ion-item no-lines>
              <ion-label text-uppercase>office</ion-label>
              <ion-radio value="Office"></ion-radio>
            </ion-item> -->
            </div>
            <ion-item no-lines>
              <select [ngModel]="city" name="city"
                 (ngModelChange)="selectOption($event,'null','null')">
                      <option *ngFor="let state of states">{{state.name}}</option>
                  </select>
            </ion-item>

            <ion-item no-lines>
              <select [ngModel]="area" name="area"(ngModelChange)="selectOptionCity($event)">
                <option *ngFor="let city of cityOption">{{city.name}}</option>
              </select>
            </ion-item>

            <ion-item no-lines>
              <select [ngModel]="local" name="local">
                <option *ngFor="let area of areaOption" [attr.value]="area.id">{{area.name}}</option>
              </select>
            </ion-item>

            <ion-item no-lines>
              <ion-textarea [(ngModel)]="address.addressinfo" placeholder="Address" name="addressinfo" #addressinfo="ngModel" style=" min-height: 100px;" spellcheck="false" required></ion-textarea>
            </ion-item>
            <p ion-text [hidden]="addressinfo.valid || submitted == false" color="danger" padding-left>
                Address is required
            </p>
          </ion-list>
          <div padding [hidden]="!isAddress">
              <button color="primary" (click)="onUpdate(addressForm,addressForm.value)" type="submit" ion-button block round text-uppercase>update</button>
          </div>

          <div padding [hidden]="isAddress">
              <button color="secondary" (click)="onSubmit(addressForm,addressForm.value)" type="submit" ion-button block round text-uppercase>save</button>
          </div>
      </form>
    </div>
  </div>
</ion-content>