<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left" style="display: inline-block !important;">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Address</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #addressForm="ngForm" novalidate>
    <ion-card>
    <ion-card-header style="text-align: center;
    border-bottom: 1px solid grey;">Add New Address</ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>Choose Type</ion-col>
          <ion-col radio-group [(ngModel)]="type" name="type">
            <ion-item>
              <ion-label>Home</ion-label>
              <ion-radio value="Home" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Office</ion-label>
              <ion-radio value="Office"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Choose City</ion-col>
          <ion-col>
        		 <select [ngModel]="city" name="city"
             (ngModelChange)="selectOption($event)" style="background-color: #bdbdbd;">
                  <option *ngFor="let state of states">{{state.name}}</option>
              </select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>Choose Area</ion-col>
            <ion-col>
              <select [ngModel]="area" name="area"
              (ngModelChange)="selectOptionCity($event)" style="background-color: 
                #bdbdbd;">
                <option *ngFor="let city of cityOption">{{city.name}}</option>
              </select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>Choose Locality</ion-col>
            <ion-col>
            <select [ngModel]="local" name="local" style="background-color: #bdbdbd;">
              <option *ngFor="let area of areaOption" [attr.value]="area.id">{{area.name}}</option>
            </select>
            </ion-col>
          </ion-row>

          <ion-textarea [(ngModel)]="address.addressinfo" placeholder="Address" name="addressinfo" #addressinfo="ngModel" spellcheck="false" style="border: 1px solid #bdbdbd;
        min-height: 100px;" required></ion-textarea>
        <p ion-text [hidden]="addressinfo.valid || submitted == false" color="danger" padding-left>
            Address is required
        </p>
      </ion-card-content>
    </ion-card>
    <div padding>
          <button ion-button (click)="onSubmit(addressForm,addressForm.value)" type="submit" block>Save</button>
    </div>
  </form>
</ion-content>