page-details {
    ion-scroll{
        .segment-md {
            .segment-button {
                width: 32% !important;
                min-width: 35% !important;
            }
        }
    }
    p{
        font-size: 1.4rem  !important;
        color: #6c6c6c !important;
        line-height: 1.6;
    }
}

.Qty{
    h3{
        border-top: 1px solid #000;
        padding-top: 25px;
        width: 175px;
        margin: 0 auto;
    }
}

// Info Section
// --------------------------------------------------
.card-details{
    position: relative;
    img{
        height: 200px;
        object-fit: cover;
        -o-object-fit: cover;
    }
    .user-action{
        position: absolute;
        top: 165px;
        right: 0px;
        ion-icon{
            width: 35px;
            height: 35px;
            line-height: 35px;
            color: white;
            background: color($colors , secondary);
        }
    }
    .card-title-ios{
        padding: 0 0 2px 0;
    }
    .price{
        margin: 10px 0;
        font-weight: 600;
        font-size: 1.5rem;
        color: color($colors,primary);
    }
}

.more-img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7px 4px 0 4px;  
    img{
        height:59px;
        width: 32%;
    } 
}

.op-btn{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
}

.mid-btn{
    color: #000;
    font-size: 2.4rem;
    font-weight: 500;
}

// Ingredients Section
// --------------------------------------------------
.ingredient-list{
    padding: 15px 5px;
    .item-block{
        min-height: 3rem;
        font-size: 1.55rem;
    }
    span{
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #c7c7c7;
        border-radius: 50%;
        margin-right: 5px !important;
    }
    ion-label{
        color: #6c6c6c;
        margin: 0 8px 0 0;
    }
}