<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle start>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title text-uppercase>Last Five Deliveries</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card padding><b>{{dataFound}}</b></ion-card>
	<ion-slides>
  		<ion-slide *ngFor="let del of Deliveries;let i=index;">
	<ion-card style="background-color: #a981d3;border:#686868;" responsive-sm>
			
    <ion-item class="custom-item">
      <ion-grid class="font table">
     <ion-grid>
      <ion-row>
        <ion-col  col-6 class="amount">
           <ion-card-title>Order Id</ion-card-title>
        </ion-col>
        <ion-col col-6 text-wrap no-lines class="bal">
           <ion-card-title>
          <span>: {{del.order_id}}</span>
           </ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-7 class="amount">
           <ion-card-title>Delivery Id:</ion-card-title>
        </ion-col>
        <ion-col col-5 text-wrap no-lines class="bal">
           <ion-card-title>
          <span>&#8377;</span> :{{del.id}}
           </ion-card-title>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col col-6  class="amount">
           <ion-card-title>Date</ion-card-title>
        </ion-col>
        <ion-col col-6 text-wrap no-lines class="bal">
           <ion-card-title>
          <span>: {{del.date | date:'dd/MM/yyyy'}}</span>
           </ion-card-title>
        </ion-col>
      </ion-row>
         <ion-row>
        <ion-col col-7 class="amount">
           <ion-card-title>Delivery time:</ion-card-title>
        </ion-col>
        <ion-col col-5 text-wrap no-lines class="bal">
           <ion-card-title>
          <span>:{{del.time_slot.from_time}}-{{del.time_slot.to_time}}</span>  
           </ion-card-title>
        </ion-col>
      </ion-row>
         <ion-row *ngFor="let pro of del.delivery_packages">
        <ion-col col-6 class="amount">
           <ion-card-title>{{pro.product.display_name}}</ion-card-title>
        </ion-col>
        <ion-col col-6 text-wrap no-lines class="bal">
           <ion-card-title>
          <span>: {{pro.quantity}}</span>   
           </ion-card-title>
        </ion-col>
      </ion-row>
         <ion-row >
        <ion-col col-6 class="amount">
           <ion-card-title>Status</ion-card-title>
        </ion-col>
        <ion-col col-6 text-wrap no-lines class="bal" *ngIf="del.delivery_status!=1">
           <ion-card-title>
          <span>:Pending</span>    
           </ion-card-title>
        </ion-col>
           <ion-col col-6 text-wrap no-lines class="bal" *ngIf="del.delivery_status==1">
           <ion-card-title >
          <span>:Completed</span>
           </ion-card-title>
        </ion-col>
      </ion-row>
          <ion-row >
        <ion-col col-6 class="amount">
           <ion-card-title>Amount</ion-card-title>
        </ion-col>
        <ion-col col-6 text-wrap no-lines class="bal">
           <ion-card-title>
          <span>: {{del.total}}</span>
           </ion-card-title>
        </ion-col>
      </ion-row>
           <ion-row >
        <ion-col col-6 class="amount">
           <ion-card-title>Amount paid</ion-card-title>
        </ion-col>
        <ion-col col-6 text-wrap no-lines class="bal">
           <ion-card-title>
          <span>: {{del.paid}}</span>
           </ion-card-title>
        </ion-col>
      </ion-row>
           <ion-row >
        <ion-col col-6 class="amount">
           <ion-card-title>Balance</ion-card-title>
        </ion-col>
        <ion-col col-6 text-wrap no-lines class="bal">
           <ion-card-title>
          <span>: {{del.due_balance}}</span>
           </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>
      </ion-grid>
    </ion-item>
    <ion-item>
		<h3 style="text-align: center;padding-top:10px;">{{i+1}}/{{Deliveries.length}}</h3>
	</ion-item>
  </ion-card>
		</ion-slide>
	</ion-slides>
</ion-content>
