.font{
	color:#686868;
	font-size: 15px;
}

	.table{
		.list:nth-child(even){
			background:#dcdde2;
		}
	}


.amount{
	ion-card-title{
		font-size: 1.0em!important;
	}
} 
.bal {
	ion-card-title{
		font-size: 1.0em!important;
	}
	
}