<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left" style="display: inline-block !important;">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Last Five Deliveries</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card><h2>{{dataFound}}</h2></ion-card>
	<ion-slides>
  		<ion-slide *ngFor="let del of Deliveries;let i=index;">
	<ion-card style="background-color: #a981d3;border:#686868;" responsive-sm>
			
    <ion-item class="custom-item">
      <ion-grid class="font table">
        <ion-row class="list">
          <ion-col col-6 text-wrap no-lines>
            <b>Order Id:</b>
          </ion-col>
          <ion-col col-6 text-wrap no-lines>
            :{{del.order_id}}
          </ion-col>
        </ion-row>
        <ion-row class="list">
          <ion-col col-6 text-wrap no-lines>
            <b>Delivery Id:</b>
          </ion-col>
          <ion-col col-6 text-wrap no-lines>
            :{{del.id}}
          </ion-col>
        </ion-row>
        <ion-row class="list">
          <ion-col col-6 text-wrap no-lines>
            <b>Date:</b>
          </ion-col>
          <ion-col col-6 text-wrap no-lines>
            :{{del.date}}
          </ion-col>
        </ion-row>
        <ion-row class="list">
          <ion-col col-6 text-wrap no-lines>
            <b>Delivery time:</b>
          </ion-col>
          <ion-col col-6 text-wrap no-lines>
            :{{del.time_slot.from_time}}-{{del.time_slot.to_time}}
          </ion-col>
        </ion-row>
        <ion-row class="list" *ngFor="let pro of del.delivery_packages">
          <ion-col col-6 text-wrap no-lines>
            <b>{{pro.product.display_name}}:</b>
          </ion-col>
          <ion-col col-6 text-wrap no-lines>
            :{{pro.quantity}}
          </ion-col>
        </ion-row>
        <ion-row class="list">
          <ion-col col-6 text-wrap no-lines>
            <b>Status:</b>
          </ion-col>
          <ion-col col-6 text-wrap no-lines [hidden]="del.delivery_status!=1">
            :Completed
          </ion-col>
          <ion-col col-6 text-wrap no-lines [hidden]="del.delivery_status==1">
            :Not completed
          </ion-col>
        </ion-row>
        <ion-row class="list">
          <ion-col col-6 text-wrap no-lines>
            <b>Amount:</b>
          </ion-col>
          <ion-col col-6 text-wrap no-lines>
            :{{del.total}}
          </ion-col>
        </ion-row>
        <ion-row class="list">
          <ion-col col-6 text-wrap no-lines>
            <b>Amount paid:</b>
          </ion-col>
          <ion-col col-6 text-wrap no-lines>
            :{{del.paid}}
          </ion-col>
        </ion-row>
        <ion-row class="list">
          <ion-col col-6 text-wrap no-lines>
            <b>Balance:</b>
          </ion-col>
          <ion-col col-6 text-wrap no-lines>
            :{{del.due_balance}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
		<h3 style="text-align: center;padding-top:10px;">{{i+1}}/{{Deliveries.length}}</h3>
	</ion-item>
  </ion-card>
		</ion-slide>
	</ion-slides>
</ion-content>