profile{
	
}

ionic2-datepicker .datepicker-wrapper .datepicker-header {
	background-color: #e15b96 !important;
}

ionic2-datepicker .datepicker-wrapper .datepicker-header .weekday-header{
	background-color: #e15b96 !important;
}
	.address-type{
		color: #df3796;
	}
	.address-card{
		margin-top:35px;
	}
	.address{
	    border: 1px solid #c8c7cc !important;
	    border-radius: 25px;
	    .item-block{
	        min-height: 3rem;
	        font-size: 1.55rem;
	    }
	    span{
	        display: inline-block;
	        width: 10px;
	        height: 10px;
	        background: #c7c7c7;
	        border-radius: 50%;
	        margin-right: 5px !important;
	    }
	    ion-label{
	        color: #6c6c6c;
	        margin: 0 8px 0 0;
	    }
	 }
.list-ios {
    margin: auto !important;
}
.list-ios .item-block .item-inner {
    border-bottom: 0;
}