categories {
  .scroll-content {
    background: #FFFFFF;
  }

  .inline {
    flex-grow: 0 !important;
  }


  .border-right{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #bdbdbd;
   }

   .inline-new{
    padding: 12px 0px;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
  }

   .inline-inst{
    padding :12px 0px;
    border-bottom: 1px solid #bdbdbd;
   }
}

.main-list {

  ion-card {
    position: relative;
    img{
        height: 200px;
        object-fit: cover;
        -o-object-fit: cover;
    }
  }

  .item-ios{
    position: absolute;
    bottom: 0;
    min-height: 15rem;
    align-items: flex-end;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(186,184,194,0.01) 0%,rgba(42,36,66,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(186,184,194,0.01) 0%,rgba(42,36,66,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#2a2442',GradientType=0 ); /* IE6-9 */
    ion-avatar{
        margin-right: 10px;
        margin-bottom: 13px;
        border-radius: 50%;
        background: color($colors , primary);
        border: 2px solid color($colors , grayColor);
        ion-icon{
            line-height: 35px;
            font-size: 2.7rem;
        }
    }
    h2{
        @extend %overflow;
        font-weight: 100;
        color: color($colors,light);
    }
  }

  .card-price {
    position: absolute;
    top: 17px;
    right: 0;
    background: color($colors , primary);
    padding: 7px 18px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 7% 50%, 0% 0%);
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 7% 50%, 0% 0%);
  }

}
.half-b .card{
    width: 48.9%;
    float: left;
    margin: 3px 0 0px 3px;
}
.main-list .item-ios h2 {
    font-weight: normal;
    color: #ffffff;
    white-space: inherit !important;
    text-overflow: inherit !important;
}
.main-list ion-card img{
  height:176px;
}
.main-list .item-ios {
    min-height: auto;
}

.label-ios{
  white-space: inherit !important;
  text-overflow: inherit !important;
}