// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
%cover{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

%overflow{
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #df3796,
  secondary:  #413e4c,
  notify:     #f7931e,
  danger:     #ee3020,
  light:      #f4f4f4,
  grayColor:  #9593a3,
  dark:       #2a2342,
  facebook:   #3a5795,
  none:         transparent
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-height: 60px;
$toolbar-ios-border-color: color($colors , primary);
$toolbar-ios-title-font-weight: normal;
$toolbar-ios-title-font-size: 1.5rem;
$toolbar-ios-padding: 4px 15px;
$toolbar-ios-button-font-size: 1.2rem;

$button-ios-height: 5rem;
$button-ios-margin: 1.2rem 0.2rem;
$button-ios-font-size: 1.5rem;

$item-ios-avatar-size: 40px;
$item-ios-thumbnail-size: 90px; 

$segment-button-md-border-bottom-width:0;




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
