<ion-menu [content]="content" small>

    <ion-header text-center>
      <ion-toolbar color="none" menuClose text-center>
        <ion-title><img src="assets/img/logo.png"/></ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list [hidden]="!isLogin">
        <button  ion-item menuClose no-lines *ngFor="let p of appPages" (click)="openPage(p)" color="none" [hidden]="isLogin && disable">
          <ion-icon item-start [name]="p.icon" class="fontColor"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
      <ion-list [hidden]="isLogin">
        <button ion-item menuClose no-lines *ngFor="let p of cashboyPages" (click)="openPage(p)" color="none" disabled={{p.disable}}>
          <ion-icon item-start [name]="p.icon" class="fontColor"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>
