<ion-split-pane>

  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">
      <ion-list [hidden]="!isLogin">
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)" [hidden]="isLogin && disable">
          <ion-icon item-start [name]="p.icon" class="fontColor"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
      <ion-list [hidden]="isLogin">
        <button ion-item menuClose *ngFor="let p of cashboyPages" (click)="openPage(p)" disabled={{p.disable}}>
          <ion-icon item-start [name]="p.icon" class="fontColor"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
