page-prescription-list {
  .scroll-content {
    background: #FFFFFF;
  }

  .inline {
    flex-grow: 0 !important;
  }


  .border-right{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #bdbdbd;
   }

   .inline-new{
    padding: 12px 0px;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
  }

   .inline-inst{
    padding :12px 0px;
    border-bottom: 1px solid #bdbdbd;
   }
}
