<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left" style="display: inline-block !important;">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Place Order</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-row>My current Order</ion-row>
<ion-card *ngFor="let prod of products; let i= index" (click)="openModal(i)">
	<ion-card-header style="border-bottom: 1px solid #bdbdbd;">
	{{ prod.display_name }} - {{prod.name}}</ion-card-header>
	<ion-card-content style="min-height: 200px;">
	<ion-row>
		<ion-col *ngFor="let day of prod.weekday">{{day.day}}</ion-col>
	</ion-row>
	<ion-row>
	 	<ion-col *ngFor="let day of prod.weekday">{{day.currentNumber}}</ion-col>
	</ion-row>
	</ion-card-content>
</ion-card>
<button ion-button round (click)="checkout()">Proceed to checkout</button>
</ion-content>