<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{viewTitle}}</ion-title>
  </ion-navbar>

  <ion-buttons end>
    <button ion-button [disabled]="isToday" (click)="today()">Today</button>
    <button ion-button (click)="loadEvents()">Load Prescriptions</button>
  </ion-buttons>
</ion-header>

<ion-content>
  <calendar [eventSource]="eventSource"
            [currentDate]="calendar.currentDate"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            step="30">
  </calendar>

  <ion-card *ngIf="listLength">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <i style="font-size: 20px;">No Prescriptions for the selected date.</i>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let list of presList; let i = index">
        <ion-item item-start style="background: #488aff; height:0px;">
        <ion-row (click)="toggle(i)">
            <ion-icon name="arrow-dropdown-circle" style="color:#ffffff !important;"></ion-icon>
      </ion-row>
     </ion-item>

    <ion-item>
      <div class="row">
          <div class="col-10">
            <ion-avatar item-start>
              <img src="assets/img/capsule_300px.jpg">
            </ion-avatar>
          </div>
          <div class="col" style="margin-left: 10px;">
            <h2>{{list.drugId}}</h2>
             <p>Amount of dose: {{list.mgs}} mgs</p>
          </div>
        </div>
        <div id="hide-show{{i}}" style="display: none;">
          <div class="row inline-all">
              <div class = "col inline" style="color:green;"><ion-icon name="checkmark"></ion-icon></div>
              <div class = "col inline" *ngIf="list.intervals"><p>Total pills taken today: {{list.adopted}} of {{list.intervals.length}}</p></div>
              <div class = "col inline" *ngIf="list.frequency"><p>Total pills taken today: {{list.adopted}} of {{list.frequency.length}}</p></div>
          </div>
          <div class="row inline-all">
             <div class = "col inline" style="color:#f53d3d;"><ion-icon name="close"></ion-icon></div>
             <div class = "col inline"><p>Total pills missed today: {{list.miss}}</p></div>
          </div>
          <div class="row inline-new">
              <div class="col"><p>Date of starting the prescription:</p>
              </div>
              <div class="col">{{list.dos | date : "dd.MM.y"}}</div>
          </div>
          <div class="row inline-new">
            <div class="col"><p>Date of finishing the prescription:</p></div>
            <div class="col">{{list.doe | date : "dd.MM.y"}}</div>
          </div>
          <div class="row inline-inst">
             <div><p>Dosage instruction:</p>{{list.instruction}}</div>
          </div>
        </div>
    </ion-item>

    <ion-item *ngIf="list.frequency">
      <ion-row style="border-bottom: 1px solid #bdbdbd;" *ngFor="let freq of (list.frequency); let j = index">
        <ion-col><p>Take at</p></ion-col>
        <ion-col>:</ion-col>
        <ion-col>{{freq.time}}</ion-col>
      </ion-row>
    </ion-item>

     <ion-item *ngIf="list.intervals">
       <ion-row style="border-bottom: 1px solid #bdbdbd;" *ngFor="let interval of (list.intervals); let k = index">
       <ion-col><p>Take at</p></ion-col>
       <ion-col>:</ion-col>
       <ion-col>{{interval.time}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
</ion-content>