contact-us{
	.fontColor{
		color:#DF3796;
	}
	.item-inner{
		margin-left: 0px !important;
	}
	.Phone{
		font-size: 35px !important;
		margin: 0px 10px 0px 0px !important;
	}
	.marg{
		margin-top: 10px !important;
	}
	.marg2{
		margin-top: 5px !important;
		margin-bottom: 10px !important;
	}
	.gray{
		color: #999999;
		font-size: 13px;
		margin-top: 0px;
	}
	.label-md{
		margin: 0px !important;
	}
}