page-change-pas {
	
	.heading{
		color:#DF3796;
		margin-top:20px;
		font-size:20px;
	}
	.outerInput{
		.item-inner{
			margin-top: 20px !important;
			border: 2px solid gray !important;
    		border-radius: 5px !important;
    		margin-right:5% !important;
		}
	}
	
}
