<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle start>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title text-uppercase>My Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="selection" padding>
  </ion-list>
  <ion-list class="cart-list">
    <div *ngFor="let orders of allOrderPackages" no-lines>
      <ion-item *ngFor="let order of orders.order_packages" no-lines>
        <ion-thumbnail item-start>
          <img src="assets/img/{{order.product_id}}.png">
        </ion-thumbnail>
        <h5 color="dark">{{ order.product.name }}</h5>

        <ion-grid no-padding>
          <ion-row style="padding-top: 10px">
            <ion-col col-6 text-left> 
            <p class="bold">{{orders.delivery_date  | date:'dd/MM/yyyy'}}</p>    
            </ion-col>
            <ion-col text-left col-6>
              <button (click)="orderChoice(order.product_id)" ion-button  round color="primary" text-uppercase no-margin>
                Update
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
  <div padding> 
  </div>
</ion-content>