<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle start>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title text-uppercase>Place Order</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="address" padding>
    <ion-list class="selection" padding>
      <ion-item no-lines *ngIf="showDate">
         <ion-icon name="md-calendar" item-left></ion-icon>Date : 
        <span ion-datepicker (ionChanged)="setDate($event);" [value]="initDate"
  	 	   clear class="ScheduleDate">
  		    <span>{{initDate | date:'dd/MM/yyyy'}}</span>
  		  </span>
      </ion-item>

      <ion-item no-lines>
        <ion-icon name="md-alarm" item-left></ion-icon>Delivery Time : 5-7 AM
      </ion-item>
    </ion-list>

    <ion-card-content>
      <ion-list class="address" padding>
        <ion-card-title padding class="address-type">{{address.address_type}}</ion-card-title>
       	 <ion-item no-lines>{{address.name}}</ion-item>
         <ion-item no-lines>{{address.area.name}},</ion-item>
         <ion-item no-lines>{{address.area.city.name}}</ion-item>
         <ion-item no-lines>{{address.area.state.name}}</ion-item>
        </ion-list>
   	</ion-card-content>
 </ion-card>
 <div style="padding: 0 25px">
    <button color="primary" ion-button round block (click)="addAddressPage()">Edit Address</button>
    <button color="secondary"  ion-button round block (click)="checkoutPage()">Select
    Address</button>
  </div>

</ion-content>
