<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SIGNUP</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="form-content" text-center>

  <div class="Loginpage">

    <div class="formContainer">
      <div class="logo">
        <img src="assets/img/logo.png" />
      </div>
      <br>
      <form [formGroup]="myForm" (ngSubmit)="onSignup()" novalidate>
          <ion-list class="app-form" no-margin>

            <ion-item no-lines>
              <ion-icon name="ios-person-outline" item-left></ion-icon>
              <ion-input [(ngModel)]="signup.name" placeholder = "Name" name="name" type="text" formControlName="name">
              </ion-input>
            </ion-item>
             <div *ngIf="myForm.get('name').hasError('required') && myForm.get('name').touched" class="danger">
              Enter your name
            </div>

            <ion-item no-lines>
              <ion-icon name="md-tablet-portrait" item-left></ion-icon>
              <ion-input [(ngModel)]="signup.mobile" placeholder = "Mobile number" name="mobile" type="tel" minlength="1" maxlength="10" formControlName="mobile">
              </ion-input>
            </ion-item>
            <div *ngIf="myForm.get('mobile').hasError('required') && myForm.get('mobile').touched" class="danger" padding-bottom> Mobile number is required
             </div>
             <div *ngIf="myForm.get('mobile').hasError('pattern') && myForm.get('mobile').touched" class="danger" padding-bottom> Please enter numbers only
             </div>

            <ion-item no-lines>
              <ion-icon name="ios-at-outline" item-left></ion-icon>
              <ion-input [(ngModel)]="signup.email" placeholder="Email" name="email"      type="email" formControlName="email" >
              </ion-input>
            </ion-item>
            <div *ngIf="myForm.get('email').hasError('pattern') && myForm.get('email').touched" class="danger" padding-bottom> Not a valid email
             </div>

          </ion-list>
          <button color="primary" ion-button  type="submit" round block>Register</button>
      </form>
    </div>
  </div>
</ion-content>