<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle start>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title text-uppercase>Edit Order</ion-title>
  </ion-navbar>
</ion-header>

<!-- Order packages -->
<ion-content>
  <ion-list class="cart-list" padding>
    <ion-item class="w-bg-box" no-lines  *ngFor="let package of order.order_packages">
      <ion-thumbnail item-start>
          <img src="assets/img/{{package.product_id}}.png">
      </ion-thumbnail>
      <p color="dark" >
      {{package.product.category.name}}<br>
      {{order.delivery_date | date:'dd/MM/yyyy'}}<br>
      {{package.quantity}}
      </p>
      <ion-col col-2 text-left>
      <button *ngIf="order.recurring"  (click)="orderChoice(package)" ion-button  round color="primary" text-uppercase no-margin>
        Update
      </button>
    </ion-col>

      </ion-item>
    </ion-list>

<!-- if one time then cancel back -->
  <button *ngIf="!order.recurring" color="primary" ion-button (click)="cancelOrder(order.id)" round block>Cancel Order</button>

<!-- if recurring then dnd and duration -->
    <ion-list *ngIf="order.recurring" class="cart-list">
    <ion-item class="n-box" no-lines>
      <ion-thumbnail class="mb--2" item-start><img src="assets/img/set-non-availability.png"></ion-thumbnail>
      <h4 color="dark">Set non availability</h4>
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-left col-6>
            <button (click)="nonAvialability()" ion-button  round color="primary" text-uppercase no-margin>Update</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="n-box" no-lines>
      <ion-thumbnail class="mb--2" item-start><img src="assets/img/edit-order-duration.png"></ion-thumbnail>
      <h4 color="dark">Edit order for a duration</h4>
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-left col-6>
            <button (click)="editOrderDuration()" ion-button  round color="primary" text-uppercase no-margin>Update</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    </ion-list>
     <!-- back button -->
    <ion-item  class="n-box" no-lines>
        <button color="secondary" ion-button (click)="back()" round block>Back </button>
    </ion-item>


</ion-content>
